body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background:  #071c21;
}

.logos{
    width: 70px;
    height: 70px;
    width: 70px;
    height: 70px;
    border-radius: 50%;   
    margin-right: 20px;
}
.logo{
    display: inline-flex;
    align-items: center;
}
h2{
    font-style: italic; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #c0c0c0;
}

nav{
    background-color: #06181ea2;
    text-align: center;

    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;

}
li{
    margin-right:40px ;
    height: fit-content;
    width: 40%;
    background-color: #094052;
    border-radius: 20%;
    padding:12px;
}
.auth {
    min-height: 10px;
    display: inline-flex;
    justify-content: space-between;
    margin-right:10px;
} 
ul {
    list-style-type: none;
    display: inline-flex;
    justify-content: space-between;
    width: fit-content;
    align-items: center;
}
a{
    color: rgb(221, 240, 223);
    text-decoration: none;
}

/* ----------------- MAIN ----------------------------*/

.main-container{
    width: 100%;
    height: 700px;
    background-color: aqua;
    margin: 0;
    margin-bottom: 10px;    
    background-image: url("https://4kwallpapers.com/images/wallpapers/rimac-nevera-3840x2160-12750.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}
#h-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.main-container #h-txt p {
    color: #f2f3f3a0;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: rgb(255, 240, 105) 0px 5px 15px;
}
.prev-btn, .next-btn {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}
.prev-btn, .next-btn {
    flex-shrink: 0;
}
/* -----------------------------------------------------------*/

.why-container{
    width: 100%;
    height: 700px;
    background-color: aqua;
    background-image:url("https://images.unsplash.com/photo-1511994477422-b69e44bd4ea9?q=80&w=1979&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") ;
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.el{
    display: inline-block;
    width: 25%;
    height: fit-content;
    margin: 20px;
    margin-top: 7%;
    padding: 10px;
    border-radius: 20px;
    background-color: rgba(70, 85, 88, 0.555);
    position: relative;
}
.why-container .el p {
    color: rgb(141, 164, 157);
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.why-container .el h2{
    color: #a3b2b9;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.ol{
    display: inline-block;
    width: 25%;
    height: fit-content;
    margin: 20px;
    margin-top: 7%;
    padding: 10px;
    border-radius: 20px;
    background-color: rgba(70, 85, 88, 0.555);
    position: absolute;
    right: 15px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}