.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background:  #071c21;
}
.body::-webkit-scrollbar{
    display: none;
}

.logos{ 
    width: 70px;
    height: 70px;
    border-radius: 50%;   
    margin-right: 20px;
}
.logo{
    display: inline-flex;
    align-items: center;
}
.logo #h2{
    font-family:'Tit', 'Arial Narrow', Arial, sans-serif;
    color: #c0c0c0;
    font-size: 200%;
    font-weight: 800;
}

.nav{
    background-color: #06181ea2;
    text-align: center;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;

}
.li{
    margin-right:40px ;
    height: fit-content;
    width: 40%;
    background-color: #094052;
    border-radius: 20%;
    padding:12px;
}
.auth {
    min-height: 10px;
    display: inline-flex;
    justify-content: space-between;
    margin-right:10px;
} 
ul {
    list-style-type: none;
    display: inline-flex;
    justify-content: space-between;
    width: fit-content;
    align-items: center;
}

.Link{
    color: rgb(221, 240, 223);
    text-decoration: none;
}

/* ----------------- MAIN ----------------------------*/

.main-container{
    width: 100%;
    height: 800px;
    margin: 0;
    margin-bottom: 10px;    
    background-image: url("https://4kwallpapers.com/images/wallpapers/rimac-nevera-3840x2160-12750.jpg");
    background-size: 100% 800px;
    background-repeat: no-repeat;
} 
.main-container #h-txt p {
    color: #f2f3f3e6;
    font-size: 68px;
    font-weight: bold;
    font-family: "Tit", 'Brush Script Std', sans-serif;
    text-shadow: rgb(255, 240, 105) 0px 5px 15px;
    margin: 2%;
    margin-top: 0;
    font-weight: bold;
}
#sub-title {
    color: #c0e1e1d1;
    font-size: 34px;
    font-weight: bold;
    font-family: "Montsurrat", 'Brush Script Std', sans-serif;
    text-shadow: rgb(255, 240, 105) 0px 5px 15px;
    margin: 2%;
    margin-top: 2%;
    font-weight: bold;   
}
.car-type{
    position: relative;
    top: 55% ;
    left: 5%;
    width: fit-content;

}
.car-type p {
    color: #093f1be6;
    font-size: 400%;
    font-weight: bold;
    font-family: "Quick", 'Brush Script Std', sans-serif;
    text-shadow: rgb(2, 107, 60) 0px 5px 15px;
    font-weight: bold;   
}
.statistics{
    width: 33%;
    height: 13%;
    background-color: rgba(14, 67, 56, 0.571);
    display:flex;
    justify-content: space-between;
    margin-top: 10px;
    position: relative;
    top: 40%;
    left: 60%;
    border-radius: 50px;
}
.stat{
    width: 33%;
    margin-top: 10px;
    position: relative;
    margin-left: 30px;
}
.main-container .statistics .stat p {
    color: #e3f9f9;
    font-size: 20px;
    font-weight: bold;
    font-family: "Quick", 'Brush Script Std', sans-serif;
    text-shadow: rgb(255, 240, 105) 0px 5px 15px;
    font-style: italic;
    font-weight: bold;
}
.main-container .statistics .stat h2{
    color: #ffffff;
    font-size: 27px;
    font-weight: bold;
    font-family: "Montsurrat", 'Brush Script Std', sans-serif;
    text-shadow: rgb(255, 240, 105) 0px 5px 15px;
    font-weight: bold;
}
/* -----------------------------------------------------------*/

.why-container{
    width: 100%;
    height: 800px;
    background-image:url("https://images.unsplash.com/photo-1511994477422-b69e44bd4ea9?q=80&w=1979&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") ;
    background-size: 100% 800px;
    background-repeat: no-repeat;
}
.el{
    display: inline-block;
    width: 25%;
    height: fit-content;
    margin: 20px;
    margin-top: 7%;
    padding: 10px;
    border-radius: 20px;
    background-color: rgba(70, 85, 88, 0.555);
    position: relative;
}
.why-container .el p {
    color: rgba(136, 217, 191, 0.886);
    margin-top: 3%;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    font-family: 'Quick', 'Arial Narrow', Arial, sans-serif;

}
.why-container .el h2{
    color: #c6d6df;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    font-family: 'Tit', 'Arial Narrow', Arial, sans-serif;
}
.ol{
    display: inline-block;
    height: fit-content;
    margin-top: 7%;
    padding: 10px;
    border-radius: 20px;
    position: absolute;
    width: 55%;
    right: 15px;
    text-align: end;
}
.ol p {
    color: #e0e3e2;
    font-size: 300%;
    font-weight: bold;
    font-family: "Montsurrat", 'Brush Script Std', sans-serif;
    text-shadow: rgb(0, 255, 255) 0px 5px 15px;
    font-style: italic;
    font-weight: bold;    
}

/* -----------------------------------------------------------*/
.carousel-item{
    width: 75%;
    height: 75%;
    transform: translate(17%);
    /* Set the width and height as needed */
    padding: 50px;
}

.description {
    height: 75px;
    background-color: rgba(184, 178, 171, 0.653);
    display:flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 25px;
    margin-bottom: 5%;
    padding: 2%;
}
.description .numbers p , .description .numbers h3{
    font-size: 100%;
    align-self: center;margin-top: 15px;
}

/* -----------------------------------------------------------*/

/****  RECENLTU ADDED DIV START *****/
.recently-addeed-div{
    margin-bottom: 30px;
}
.header-section{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-right: 5%;
    margin-left: 5%;
}

.header-section h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 25px;
}

section .product-row{
    display: flex;
    justify-content: space-between;
    margin-right: 5%;
    margin-left: 5%;
}

.product-row article aside{
    padding-bottom: 7px;
}

header img{
    height: 150px;
    width: 300px;
}


article aside{
    margin-top: 4px;
    margin-bottom: 15px;
    border-width: 2px;
    border-style: solid;
    background-color: rgb(187, 191, 189);
    padding-left: 10px;
    padding-right: 15px;
    box-shadow:
        inset -0.5em -1em 1.5em rgba(255, 96, 64, 0.3),
        0.1em 0.3em 1em rgba(199, 204, 255, 0.701);
}

aside .car-name{
    color:blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 0px;
}
aside .car-type{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 0px;
    margin-top: 0px;
}

aside ol{
    list-style-type: none;
    padding: 0px 0px 0px 0px;
    display:flex;
    justify-content: space-between;
}

/**** RECENLTY ADDDED DIV END  *****/


/**** Stats div START****/

.stats{
    background-color: rgb(0, 51, 204);
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

.stats div{
    display: flex;
    justify-content: space-between;
    padding: 45px 15%;
}

.stats p{
    margin: 0px;
    padding: 45px 15%;  
    font-size: 20px; 
}


.stats section h6{
    margin: 0px;
}

.stats section h1{
    margin: 0px;
}

/**** Stats div END****/




/** Footer div START*/
.last-div{
    background-color: aqua;
    display: flex;
    justify-content: center;
    height: 500px;
}

/**Contact div input form START*/
.contact-div{
    background-image: url(../assets/car_photo.jpg);
    background-repeat: no-repeat;
    width: 65%;
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.form-div {
    background-color: rgb(5, 31, 176, 0.6);
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 5%;
    padding-bottom: 2.5%;
    padding-left: 10%;
    padding-right: 10%;
    border: none;
    border-bottom: white;
}

.form-div section{
    margin-bottom: 30px;
}
.form-div h3{
    color: white;
    margin: 0px;
    margin-bottom: 2.5px;
}

.form-div input[type="text"],
.form-div input[type="email"],
.form-div textarea {
    padding:5px;
    background-color:   transparent;
    border: none;
    border-bottom: 1.5px solid white;
    color:aliceblue;
}

.form-div ::placeholder{
    color:azure;
}
/**Contact div input form END*/

/**INFO div input form START*/
.info-div{
    background-color: gold;
    width: 35%;
}
.map-div{
    background-color: white;
    height: 50%;
    width: 100%;
}

.map-div iframe {
    border: 0;
    height: 100%;
    width: 100%;
}

.media-div{
    background-color: rgb(9, 49, 112);
    width: 100%;
    height: 50%;
}

.media-div .ul1{
   margin: 0px;
   display: flex;
   flex-direction: column;
   padding-left: 8%;
   padding-top: 2%;
   list-style: none;
}

.media-div .li1{
    display: flex;
    align-items: center;
    padding: 5px;
}

.icons-footer1{
    height: 40px;
    width: 40px;
}

.media-div p {
    padding-left: 20px;
    margin: 0;
    color: white;
}

.media-div .ul2{
    display: flex;
    justify-content: space-around;
    list-style: none;
 }

.icons-footer2{
    height: 30px;
    width: 30px;
}
/**Contact div input form END*/

/**Footer div END*/

/****  RECENLTU ADDED DIV START *****/
.recently-addeed-div{
    margin-bottom: 30px;
}
.header-section{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-right: 5%;
    margin-left: 5%;
}

.header-section h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 25px;
}

.product-row{
    display: flex;
    justify-content: space-between;
    margin-right: 5%;
    margin-left: 5%;
}

.product-row article aside{
    padding-bottom: 7px;
}

header img{
    height: 150px;
    width: 300px;
}


article aside{
    margin-top: 4px;
    margin-bottom: 15px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(187, 191, 189);
    padding-left: 10px;
    padding-right: 15px;
    box-shadow:
        inset -0.5em -1em 1.5em rgba(42, 170, 157, 0.336),
        0.1em 0.3em 1em rgba(212, 215, 255, 0.904);
}

aside .car-name{
    color:blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 0px;
}
aside .car-type{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 0px;
    margin-top: 0px;
}

aside ol{
    list-style-type: none;
    padding: 0px 0px 0px 0px;
    display:flex;
    justify-content: space-between;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}


@font-face {
    font-family: 'Tit';
    src: url('../Fonts/Titillium_Web/TitilliumWeb-Bold.ttf');

    font-family: "Montsurrat";
    src: url("../Fonts/SpeedRacing/SpeedRacing-Negative.ttf");

    font-family: 'Quick';
    src: url('../Fonts/Quicksand/Quicksand-VariableFont_wght.ttf');
}

/* -------------------------------------------------------------------------------- */ 
/* ------------- RESPONSITIVITY ------------- */ 


/* CSS for tablet devices */
@media (max-width: 768px) {

    footer {
        padding: 5px 0;
    }
}


/* CSS for mobile devices */
@media (max-width: 480px) {

    
    footer {
        padding: 2px 0;
    }
}

